.no-text, .no-span, .id-numbered, .display-italics{
    -fx-font-style:italic;
}

.hint-set, .hint-unset, .hint-allow, .hint-disallow{
    -fx-label-padding:2,0,0,0
}

.hint-set{
    -fx-font-weight:bold;
}
.hint-unset{
    -fx-font-weight:normal;
}
.hint-allow{
    -fx-text-fill:"black";
}
.hint-disallow{
    -fx-text-fill:"gray"
}

.display-edition, .no-text, .no-span, .display-reference{
    -fx-fill:"gray";
    -fx-font-family:'monospace';
}

.display-agenda{
    visibility: hidden;
}

.display-center{
    -fx-text-alignment: center;
}

.display-left{
    -fx-text-alignment: left;
}

.display-right{
    -fx-text-alignment: right;
}

.display-note{
    -fx-fill:"darkslategray";
}

.display-footnote, .display-endnote{
    -fx-translate-y:-800%;
    -fx-font-size:80%;
}

.display-link{
    -fx-fill:"blue";
}

.display-bold{
    -fx-font-weight:bolder;
}
.display-underline{
    -fx-underline:true;
}

.display-coded{
    -fx-fill:#333;
    -fx-font-family:'monospace';
}

.display-status{
    -fx-fill:gray;
    -fx-font-family:'monospace';
}

.table-number{
    -fx-alignment:center-right;
}

.border{
    -fx-border-base: gray;
    -fx-border-shadow: white;
    -fx-light-border: derive(-fx-border-base, 25%);
    -fx-border-color: -fx-light-border -fx-border-base -fx-border-base -fx-light-border;
    -fx-border-insets: 0 1 1 0;
    -fx-background-color: -fx-border-shadow, -fx-background;
    -fx-background-insets: 1 0 0 1, 2;
    -fx-padding: 2;
}
