.active {
	-fx-font-weight:bold;
	-fx-font-family:monospace;
}

.inactive {
	-fx-text-fill:dimgray;
	-fx-font-family:monospace;
}

.fileHeading {
	-fx-text-weight:bold;
	-fx-content-display:center;
	-fx-alignment: center;
	-fx-font-size: 1.2em;
	-fx-text-alignment: center
}

.fileDetails {
	-fx-text-fill:dimgray;
}

