.escape{
	-rtfx-border-stroke-color:darkgray;
	-rtfx-border-stroke-width:1px;
	-rtfx-border-stroke-type:center;
}

.operator{
	-fx-stroke:darkgray;
}

.id{
	-fx-stroke:darkslateblue;
}

.error{
	-rtfx-underline-color:firebrick;
	-rtfx-underline-dash-array:10px 4px;
	-rtfx-underline-width:2px;
}

.footnote{
	-rtfx-background-color:lightgreen;
}

.endnote{
	-rtfx-background-color:lightblue;
}

.metaData{}

.image{
	-rtfx-background-color:burlywood;
}

.agenda{
	-rtfx-background-color:yellow;
}

.bold{
	-fx-font-weight:bold;
}

.underline{
	-fx-underline:true;
}

.italics{
	-fx-font-style:italic;
}

.textcell{}

.quote{
	-fx-border-width: 0 0 0 5;
	-fx-border-color: darkgray;
	-fx-padding: 0 0 0 10;
	
}

.normal{}

.break{
	-fx-text-alignment:center;
}

.heading, .headcell, .outline, .header {
	-fx-font-size:1.2em;
}

.outline, .note, .field, .header {
	-rtfx-background-color:lightgray;
}

.numbered{
	-fx-padding: 0 0 0 30;
}

.bullet{}

.row{
	-rtfx-border-stroke-color:black;
	-rtfx-border-stroke-width:2px;
}