.weekday{
    -fx-text-alignment:center;
    -fx-font-weight:bolder;
}

.weekday-box{
    -fx-border-color: #aaa #111 #111 #aaa;
}

.month{
    -fx-font-size:1.5em;
    -fx-font-weight:bolder;
}

.day-box{
    -fx-border-color: #111 #aaa #aaa #111 ;
}